body{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:20px 60px 20px 60px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    margin-left: 30px; 
}
.icontext{
    font-size: 20px;
}
#title-city{
    font-size: 50px;
    margin-left: 290px;
}
a{
  text-decoration: none;
}
table
{
    font-size: 15px;
    margin: 0 auto;
}
th,td{
    padding:0 6px 0 6px
}
.grid-container {
    display:flex;
    justify-content: center;
    margin: 0 auto;
}
article{
    padding: 50px;
}